[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ipytable"
version = "0.0.0"
dependencies = [
    "anywidget",
    "pyarrow>=16.1.0",
]
readme = "README.md"

[tool.rye]
dev-dependencies = [
    "jupyterlab>=4.2.2",
    "jupyterlab-vim>=4.1.3",
    "watchfiles>=0.22.0",
    "vega-datasets>=0.9.0",
]
