name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  LintPython:
    name: Python / Lint
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
        with:
          version: "0.4.x"
      - run: |
          uv run ruff format --check
          uv run ruff check
        env:
          SKIP_DENO_BUILD: 1

  LintJavaScript:
    name: JavaScript / Lint
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x
      - run: |
          deno lint
          deno fmt --check
          deno lint

  TypecheckJavaScript:
    name: JavaScript / Typecheck
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x
      - run: |
          deno task check
